In [2]:
# comment
# 10

In [3]:
1 + 1

2

In [4]:
1 - 3

-2

In [5]:
x = 'hello'

print(x)

hello

In [6]:
first = 'michael'
number = 10

print("Hello my name is {} and my number is {}".format(first, number))

Hello my name is michael and my number is 10

In [7]:
first = 'michael'
last = 'prim'

print("Hello my name is {x} and my number is {y}".format(x=first, y=number))

Hello my name is michael and my number is 10

In [8]:
import math

In [9]:
math.sqrt(10)

3.1622776601683795

In [10]:
i = 1
while i < 5:
    print(f"i is currently {i}")
    i += 1

i is currently 1
i is currently 2
i is currently 3
i is currently 4

In [12]:
for item in range(2,11,2):
    print(item)

2
4
6
8
10

In [13]:
x = [1,2,3,4,5]

out = []
for num in x:
    out.append(num**2)


out

[1, 4, 9, 16, 25]

In [16]:
# Previous for-loop written as List Comprehension

[num**2 for num in x]

[1, 4, 9, 16, 25]

In [ ]:
# Functions
# Lambda Expressions
# map and filter
# various useful methods

In [23]:
def my_func(param = 1):
    """
    This is the docstring
    """
    return param * 5


my_func(3)

15

In [ ]:
def times_two(var):
    return var * 2

result = times_two(4)

result

8

In [25]:
lambda var: var * 2

In [27]:
seq = [1, 2, 3, 4, 5]
list(map(times_two, seq))

[2, 4, 6, 8, 10]

In [ ]:
seq_2 = [2, 4, 6, 8]
list(map(lambda num: num * 2, seq_2))

[4, 8, 12, 16]

In [31]:
def is_even(number):
    return number % 2 == 0

tuple(filter(is_even, seq))

(2, 4)

In [35]:
list(filter(lambda nums: (nums % 2 == 0), (10, 9, 8, 7, 6)))

[10, 8, 6]

In [36]:
st = 'hello my name is Mike'
st.lower()

'hello my name is mike'

In [39]:
tweet = "Go Team! #Sports"

tweet.split('#')[1]

'Sports'

In [42]:
variable_1 = 1
variable_1 + 1 in seq_2

True

In [41]:
seq_2

[2, 4, 6, 8]